@font-face {
  font-family: "Space Grotesk";
  src: url("../../Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

.container {
  width: 100%;
  margin-top: 56px;
  gap: 24px;
}

.container .alert {
  position: fixed;
  right: 56px;
  top: 80px;
}

.container .text {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  -webkit-font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
          font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
  color: #ffffff;
}

.container .rate {
  width: 16px;
  height: 16px;
}

.container .profile_image_container {
  width: 264px;
  height: 264px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #ffffff;
  border-radius: 264px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .profile_image_container .image {
  width: 100%;
  height: 100%;
  background: #00ffff;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  -webkit-font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
          font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
  font-size: 128px;
  color: #000000;
}

.container .producer_details {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.container .producer_details .user_name .text {
  font-size: 32px;
}

.container .producer_details .type .text {
  font-size: 16px;
  color: #b2b2b2;
}

.container .producer_details .location {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.container .producer_details .location .text {
  font-size: 16px;
  color: #b2b2b2;
}

.container .producer_details .location .icon {
  width: 16px;
  height: 16px;
}

.container .producer_details .rating {
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .producer_details .info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.container .producer_details .info .info_child {
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  -webkit-font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
          font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
  font-weight: 400;
}

.container .producer_details .info .info_child .icon {
  width: 16px;
  height: 16px;
}

.container .producer_details .info .info_child .text {
  font-size: 16px;
  color: #ffffff;
}

.container .actions {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.container .actions .upload_beat {
  padding: 8px 16px;
  background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  height: 40px;
}

.container .actions .upload_beat span {
  margin: 0;
}

.container .actions .upload_beat .text {
  font-size: 16px;
  color: #000000;
}

.container .actions .share_profile {
  background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  height: 36px;
}

.container .actions .share_profile .inner {
  padding: 6px 14px;
  background: #000000;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  height: 100%;
}

.container .actions .share_profile .inner .text {
  font-size: 16px;
  background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.container .user_content {
  gap: 16px;
  padding: 0px 56px;
}

.container .user_content .scene_container .scene {
  padding: 0px;
  color: #00ffff;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  -webkit-font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
          font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
  font-size: 24px;
}

.container .user_content .scene_container .scene_inactive {
  color: #b2b2b2;
}

.container .user_content .scene_container .underline {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  border: 0;
  margin: 0;
  background: #00ffff;
}

.container .scene_content {
  padding: 0px 56px;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
    margin-top: 48px;
    gap: 16px;
  }
  .container .alert {
    right: 48px;
    top: 64px;
  }
  .container .rate {
    width: 12px;
    height: 12px;
  }
  .container .producer_details {
    gap: 12px;
  }
  .container .producer_details .user_name .text {
    font-size: 24px;
  }
  .container .producer_details .type .text {
    font-size: 12px;
  }
  .container .producer_details .location {
    gap: 8px;
  }
  .container .producer_details .location .text {
    font-size: 12px;
  }
  .container .producer_details .location .icon {
    width: 12px;
    height: 12px;
  }
  .container .producer_details .info {
    gap: 16px;
  }
  .container .producer_details .info .info_child {
    gap: 8px;
  }
  .container .producer_details .info .info_child .icon {
    width: 12px;
    height: 12px;
  }
  .container .producer_details .info .info_child .text {
    font-size: 12px;
  }
  .container .user_content {
    gap: 16px;
    padding: 0px 48px;
  }
  .container .user_content .scene_container .scene {
    font-size: 16px;
  }
  .container .scene_content {
    padding: 0px 48px;
  }
}
/*# sourceMappingURL=dashboard.module.css.map */