@import "../../styles/partials/variables";

.button {
	justify-content: flex-start;
	margin: 0px;
	padding: 0px;
	gap: 12px;
	font-size: 16px;
	@include fontProperties;

	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	span {
		margin: 0px;
		padding: 0px;
	}
}

@media screen and (max-width: 1400px) {
	.button {
		gap: 8px;
		font-size: 12px;
	
		span {
			img {
				width: 12px;
				height: 12px;
			}
		}
	}
}
