@import "../../styles/partials/variables";

.reviews {
	gap: 40;

	.reviewTop {
		gap: 16px;

		.reviewsT {
			@include fontProperties;
			font-size: 24px;
		}

		.reviewInput {
			height: 128px;
			border-radius: 8px;
			background-color: #666666;
			color: #d2caca;
			text-align: start;
			padding: 8px 16px;

			@include fontProperties;
			font-size: 16px;

			outline: none;
		}

		.rates {
			gap: 12px;
			@include fontProperties;
			font-size: 20px;
			align-items: center;

			.reviewRating {
				justify-content: center;
				gap: 8px;
			}
		}

		.reviewButton {
			@include fontProperties;
			font-size: 16px;
			color: #666666;

			padding: 8px 16px;
			height: 40px;
			background: $gray;
			border: none;
			border-radius: 8px;
			align-self: flex-end;
		}

		.reviewButtonActive {
			color: $black;
			background: $gradient;
		}
	}

	.reviewBottom {
		gap: 24px;

		.heading {
			@include fontProperties;
			font-size: 32px;
			line-height: 40px;
		}

		.UsersReview {
			gap: 40px;

			.mainReview {
				gap: 16px;

				.review {
					background: #5b247a;
					padding: 16px;
					border-radius: 8px;
					gap: 20px;

					.reviewHeading {
						gap: 8px;
						align-items: center;

						.songProducer {
							@include fontProperties;
							font-size: 20px;
							line-height: 28px;
						}
					}

					.reviewerRating {
						gap: 8px;
					}

					.reviewText {
						@include fontProperties;
						font-weight: 400;
						font-size: 16px;
						color: $white;
					}
				}

				.reply {
					color: $gradient;
					@include fontProperties;
					font-size: 16px;
					line-height: 24px;

					/* Gradient */
					background: $gradient;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;

					align-self: flex-end;
				}
			}
		}
	}
}

.rate {
	.star {
		height: 40px;
		width: 27px;
		font-size: 40px;
	}
}

@media screen and (max-width: 1400px) {
	.rate {
		img {
			width: 12px;
			height: 12px;
		}
	}
}
