.container {
	display: flex;
	flex-direction: column;

	padding: 0 56px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h3 {
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	color: #ffffff;
}

.filter {
	display: flex;
	gap: 16px;
}

.filter_object {
	position: relative;
}

.filter_container {
	padding: 2px;

	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	border-radius: 8px;
}

.filter_container p {
	margin: 0;

	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	font-feature-settings: "tnum" on, "lnum" on, "ordn" on;

	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.filter_container:hover {
	cursor: pointer;
}

.filter_background {
	display: flex;
	align-items: center;
	gap: 8px;

	background: #000000;

	padding: 8px 16px;
	border-radius: 8px;
}

.dropdown {
	position: absolute;

	background: #ffffff;
	border-radius: 8px;
	margin-top: 8px;
	width: 100%;
	max-height: 280px;
	overflow-y: auto;
	z-index: 1;
}

.dropdown:hover {
	cursor: pointer;
}

.dropdown option {
	padding: 8px 16px;
	border-radius: 8px;

	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;

	font-feature-settings: "tnum" on, "lnum" on, "ordn" on;

	color: #000000;
}

.dropdown option:hover {
	background: #febfff;
}

.dropdown option:active {
	background: #00ffff;
}

.view_more_outer {
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 232px;
	height: 36px;

	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	border-radius: 8px;
	padding: 2px;
}

.view_more_outer:hover {
	cursor: pointer;
}

.view_more_inner {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000000;
	width: 100%;
	height: 100%;

	border-radius: 8px;
	padding: 0 16px;
}

.view_more_inner p {
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;

	font-feature-settings: "tnum" on, "lnum" on, "ordn" on;

	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	margin: 0;
}

.beats_container {
	gap: 24px;
}

@media screen and (max-width: 1400px) {
	.container {
		padding: 0 48px;
	}

	.header h3 {
		font-size: 16px;
	}

	.filter {
		gap: 8px;
	}

	.filter_container {
		padding: 1px;
		border-radius: 4px;
	}

	.filter_container p {
		margin: 0;
		font-size: 12px;
	}

	.filter_background {
		gap: 4px;
		padding: 4px 8px;
		border-radius: 4px;
	}

	.filter_background img {
		width: 12px;
		height: 12px;
	}

	.dropdown {
		border-radius: 4px;
		margin-top: 4px;
		width: 100%;
		max-height: 248px;
	}

	.dropdown option {
		padding: 4px 8px;
		border-radius: 8px;

		font-size: 12px;
	}

	.view_more_outer {
		width: 168px;
		height: 30px;
		border-radius: 4px;
		padding: 1px;
	}

	.view_more_inner {
		width: 100%;
		height: 100%;

		border-radius: 4px;
		padding: 0 8px;
	}

	.view_more_inner p {
		font-size: 12px;
		margin: 0;
	}

	.beats_container {
		gap: 16px;
	}
}
