.link {
	text-decoration: none;
	margin-right: 16px;
}

.container {
	align-self: center;
	display: flex;
	max-width: 71px;
	padding: 1px;
  height: 40px;

	border-radius: 8px;
	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
}

.container:hover {
	cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

	max-width: 71px;
	padding: 8px 16px;
	background: #000000;
	border-radius: 8px;
  height: 24px;
}

.button p {
	padding: 0;
	margin: 0;

	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;

	font-feature-settings: "tnum" on, "lnum" on, "ordn" on;

	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
