.container {
	display: flex;
	flex-direction: column;
	background-color: #000000;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 36px;
}

@media screen and (max-width: 1400px) {
	.content {
		gap: 32px;
	}
}
