.container {
	display: flex;
	flex-direction: column;
	background-color: #000000;
	padding-bottom: 112px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 36px;
}

@media screen and (max-width: 1400px) {
	.container {
		padding-bottom: 96px;;
	}

	.content {
		gap: 32px;
	}
}
