@font-face {
  font-family: "Space Grotesk";
  src: url("../../Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf");
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
}

.container .alert {
  position: fixed;
  top: 56px;
  right: 56px;
  z-index: 3;
}

.container .buttons_props {
  text-transform: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  -webkit-font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
          font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
  padding: 8px 16px;
}

.container .contained_button {
  background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
  color: #000000;
  max-height: 40px;
}

.container .contained_button:hover {
  background: #febfff;
}

.container .contained_button:active {
  background: #00ffff;
}

.container .transparent {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 1;
}

.container .change_profile_picture {
  position: fixed;
  top: 32px;
  background: #000000;
  max-width: 1000px;
  z-index: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.container .change_profile_picture .close {
  width: 20px;
  height: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container .change_profile_picture .close:hover {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.container .change_profile_picture h4 {
  color: #ffffff;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  -webkit-font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
          font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
  font-size: 20px;
  line-height: 24px;
}

.container .change_profile_picture .profile_picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

.container .profile_picture {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-top: 24px;
  position: relative;
}

.container .profile_picture .back {
  position: absolute;
  left: 56px;
}

.container .profile_picture .image_container {
  border: 1px solid #ffffff;
  border-radius: 264px;
  margin-top: 48px;
}

.container .profile_picture .image_container .image {
  width: 264px;
  height: 264px;
  background-color: #00ffff;
  font-size: 128px;
  color: #000000;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  -webkit-font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
          font-feature-settings: "tnum" on, "lnum" on, "ordn" on;
}

.container .profile_picture .buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.container .profile_picture .buttons .outline_button {
  background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
  border-radius: 8px;
  padding: 2px;
  max-height: 40px;
}

.container .profile_picture .buttons .outline_button .inline_button {
  background: #000000;
  border-radius: 8px;
  height: 100%;
}

.container .profile_picture .buttons .outline_button .inline_button .edit_picture {
  background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
  max-height: 36px;
}

@media screen and (max-width: 1400px) {
  .container .alert {
    right: 48px;
  }
  .container .change_profile_picture {
    max-width: 872px;
  }
  .container .change_profile_picture h4 {
    font-size: 16px;
  }
  .container .change_profile_picture .profile_picture {
    width: 336px;
    height: 336px;
  }
  .container .profile_picture .back {
    left: 48px;
  }
}
/*# sourceMappingURL=settings.module.css.map */