.container {
	display: flex;
	flex-direction: column;
	background-color: #000000;
}

.transparent {
	display: none;
}

.transparent_active {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	z-index: 1;
}

.set_picture {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	top: 32px;
	left: 220px;
	right: 220px;
	width: auto;
	padding: 24px;
	height: 568px;
	background: #000000;
	z-index: 2;
}

.set_picture img {
	align-self: center;
}

.set_picture_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.set_picture_header h4 {
	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;

	margin: 0;

	color: #ffffff;
}

.set_picture_header img:hover {
	cursor: pointer;
}

.save_container {
	display: flex;
}

.save_container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.save_button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;

	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	border-radius: 8px;
	height: 24px;

	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;

	font-feature-settings: "tnum" on, "lnum" on, "ordn" on;

	color: #000000;
}

.save_button:hover {
	cursor: pointer;
	background: #febfff;
}

.save_button:active {
	background: #00ffff;
}

.profile_picture {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 24px 56px;
	gap: 24px;
}

.back {
	position: absolute;
	top: 24px;
	left: 56px;
}

.profile_image {
	display: flex;
	flex-direction: column;
	width: 264px;
	height: 264px;
	border-radius: 264px;
}

.buttons {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 16px;
}

.change {
	display: flex;
	padding: 8px 16px;
	height: 24px;

	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;

	font-feature-settings: "tnum" on, "lnum" on, "ordn" on;

	color: #000000;

	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	border-radius: 8px;
}

.change:hover {
	cursor: pointer;
	background: #febfff;
}

.change:active {
	cursor: pointer;
	background: #00ffff;
}

.change input {
	display: none;
}

.edit {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	border-radius: 8px;
}

.edit:hover {
	cursor: pointer;
}

.edit_inner {
	display: flex;
	justify-content: center;
	width: 100%;
	border-radius: 8px;
	margin: 2px;
	padding: 6px 14px;
	background: #000000;
}

.edit_inner p {
	margin: 0;
	padding: 0;

	font-family: "Space Grotesk";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;

	font-feature-settings: "tnum" on, "lnum" on, "ordn" on;

	background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
