@import "../../styles/partials/variables";

.container {
	flex-wrap: nowrap;

	.beat_art:hover {
		cursor: pointer;
	}

	.sub_container {
		justify-content: space-between;

		padding-bottom: 24px;
		margin-left: 16px;
		width: 100%;

		.header {
			justify-content: space-between;
			align-items: center;

			h1 {
				width: 385px;
				height: 48px;

				@include fontProperties;
				font-size: 40px;

				color: $white;

				margin: 0;
			}

			.header_right {
				gap: 24px;

				.trending_icon {
					justify-content: center;
					align-items: center;
					gap: 8px;

					p {
						@include fontProperties;
						font-size: 16px;
					}

					.trending {
						color: #1aed3e;
					}

					.popular {
						color: #ffd705;
					}
				}

				.more {
					position: relative;

					.more_button {
						padding: 0px;
						min-width: 16px;
						width: 24px;
						height: 24px;
						color: $white;

						svg {
							width: 24px;
							height: 24px;
						}
					}

					.more_dropdown {
						position: absolute;
						right: 0px;
						top: 24px;
						border-radius: 0 0 8px 8px;

						max-width: 400px;
						min-width: 150px;

						background: $white;

						z-index: 1;

						button {
							text-align: left;
							@include fontProperties;
							font-size: 16px;
							line-height: 24px;
							color: $black;
							width: fit-content;
							padding: 8px 16px;
						}
					}

					.more_close {
						display: none;
					}
				}
			}
		}

		.producer_container {
			text-decoration: none;

			.producer {
				align-items: center;

				.producer_icon {
					background: #00ffff;
					width: 40px;
					height: 40px;

					@include fontProperties;
					font-size: 24px;

					color: #000000;
				}

				h2 {
					@include fontProperties;
					font-weight: 500;
					font-size: 20px;

					color: #ffffff;

					margin: 0;
					margin-left: 8px;
					margin-right: 20px;
				}

				.rating {
					gap: 4px;

					.image {
						width: 16px;
						height: 16px;
					}
				}
			}

			.producer:hover {
				cursor: pointer;
			}
		}

		.footer {
			justify-content: space-between;

			.footer_left {
				gap: 8px;
				align-items: center;

				.icon {
					width: 24px;
					height: 24px;
				}

				.buy_now {
					height: 40px;

					background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
					border-radius: 8px;
					border: none;

					@include fontProperties;
					font-size: 16px;

					color: #000000;
				}

				.buy_now:hover {
					cursor: pointer;
					background: #febfff;
				}

				.buy_now:active {
					background: #00ffff;
				}

				.save_beat_outer {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 36px;

					background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
					border-radius: 8px;
					padding: 2px;

					.save_beat_inner {
						background: #000000;
						width: 100%;
						height: 100%;

						border-radius: 8px;
						padding: 0 16px;

						p {
							@include fontProperties;
							font-size: 16px;

							background: linear-gradient(91.8deg, #febfff 0%, #00ffff 100%);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							background-clip: text;
							margin: 0;
						}
					}
				}

				.save_beat_outer:hover {
					cursor: pointer;
				}

				.text {
					@include fontProperties;
					font-weight: 500;
					font-size: 20px;

					color: #e5e5e5;
					margin: 0;
				}
			}

			.footer_right {
				align-items: flex-end;

				.subtext {
					@include fontProperties;
					font-size: 16px;

					color: #e5e5e5;
					margin: 0;
				}
			}
		}
	}

	.alert {
		position: fixed;
		bottom: 48px;
		right: 48px;

		z-index: 1;
	}
}

@media screen and (max-width: 1400px) {
	.container {
		/* margin-bottom: 16px; */

		.beat_art {
			width: 200px;
			height: 200px;
		}

		.sub_container {
			padding-bottom: 24px;
			margin-left: 12px;
			width: 100%;

			.header {
				h1 {
					width: 385px;
					height: 32px;
					margin: 0;
				}

				.header_right {
					gap: 16px;

					.trending_icon {
						gap: 4px;

						img {
							width: 8px;
							height: 8px;
						}

						p {
							font-size: 8px;
						}
					}

					.more {
						.more_button {
							width: 16px;
							height: 16px;

							svg {
								width: 16px;
								height: 16px;
							}
						}
					}
				}
			}

			.producer_container {
				.producer {
					.producer_icon {
						width: 24px;
						height: 24px;
						font-size: 12px;
					}

					h2 {
						font-size: 12px;
						margin: 0;
						margin-left: 4px;
						margin-right: 8px;
					}

					.rating {
						gap: 2px;

						.image {
							width: 8px;
							height: 8px;
						}
					}
				}
			}

			.footer {
				img {
					width: 16px;
					height: 16px;
				}

				.footer_left {
					gap: 8px;

					.icon {
						width: 16px;
						height: 16px;
					}

					.buy_now {
						height: 24px;
						border-radius: 4px;

						font-size: 12px;
					}

					.save_beat_outer {
						height: 24px;
						border-radius: 4px;
						padding: 1px;

						.save_beat_inner {
							width: 100%;
							height: 100%;

							border-radius: 4px;
							padding: 0 8px;

							p {
								font-size: 12px;
								margin: 0;
							}
						}
					}

					.text {
						font-size: 12px;
						margin: 0;
					}
				}

				.footer_right {
					.subtext {
						font-size: 8px;
						margin: 0;
					}
				}
			}
		}
	}
}
